*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
nav{
    background: #f9d1d1;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
}
nav ul{
    float: right;
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
nav ul li{
    display: inline-block;
    line-height: 65px;
    margin: 0 5px;
}
nav ul li a{
    color: #1c1c1b;
    display: block;
    padding: 7px 13px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 550;
}
li a.active, li a:hover{
    color: #b50912;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:not(.inicio) {
    max-width: 1440px;
}
.inicio{
    width: 100%;
    height: 100vh;
    background: #f9d1d1;
    margin-bottom: 80px;
}

.inicio-contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.presentacion1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #B50912;
    padding: 20px;
}
.presentacion2{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #000000;
    padding: 20px;
}
.presentacion3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #494949;
    padding: 20px;
}
.presentacion4{
    width: 75%;
    padding: 20px;
}
.boton_inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    width: 160px;
    height: 54px;
    left: 161px;
    top: 499px;
    background: #EA3B3D;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.boton_inicio p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #151D41;
}
.img-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
#sobre_mi {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.sobre-mi-1{
    width: 50%;
    display: flex;
}
.sobre-mi-2{
    width: 50%;
    display: flex;
}
.sobre_mi {
    width: 100%;
    padding-left: 50px;
}

.sobre_mi p {
    padding-top: 20px;
    margin-right: 300px;
    text-align: justify;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.img2{
    width: 100%;
    height: auto;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    color: #B50912;
}
.habilidades {
    display: flex;
    width: 40%;
    margin-top: 100px;
}
.habilidades li {
    padding-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.habilidades ul li i {
    color: #b50912;
}

.subtitulo {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #494949;
}
.lo-que-yo-hago {
    text-align: center;
    padding-top: 20px;
}
.servicios-titulos{
    width: 100%;
    margin-bottom: 60px;
}
.mis-servicios{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 300px 300px 300px;
    row-gap: 60px;
    column-gap: 10px;
}
.caja-serv{
    width: auto;
}
.caja-servicios-1{
    display: flex;
    width: 45%;
    flex-direction: row;
    justify-content: space-between;
    justify-self: start;
}
.caja-servicios-1 img{
    width: 70px;
    height: 70px;
}
.caja-servicios-2{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
}
.caja-servicios-2 img{
    width: 70px;
    height: 70px;
}
.caja-servicios-3{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
}
.caja-servicios-3 img{
    width: 70px;
    height: 70px;
}
.caja-servicios-4{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    justify-self: start;
}
.caja-servicios-4 img{
    width: 43px;
    height: 57px;
}
.caja-servicios-5{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    margin-right: 20px;
}
.caja-servicios-5 img{
    width: 54.19px;
    height: 46.91px;
}
.caja-servicios-6{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
}
.caja-servicios-6 img{
    width: 54.67px;
    height: 36.2px;
}
.numero-container {
    margin-left: 10px;
}

.container-rosa-wraper{
    margin-top: 100px;
}
.container-rosa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1116px;
    height: 400px;
    margin-bottom: 80px;
    background-color: #f9d1d1d6;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 30px;
}

.titulo-trabajos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titulo-trabajos-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.titulo-trabajos-container a {
    color: black;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-right: 54px;
}
.img-trabajos {
    position: relative;
    top: -31px;
}

h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
}
.trabajos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.division-trabajos{
    display: flex;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mis-trabajos-escritos{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}
.caja1{
    width: auto;
    height: auto;
}
.escrito1{
    position: relative;
    overflow: hidden;
    justify-self: end;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.escrito1 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1d1d1bb3;
    transition: all 800ms ease-out;
    opacity: 0;
    text-align-last: center;
    text-align: center;
}
.capa h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 30px;
}
.capa:hover{
    opacity: 1;
    visibility: visible;
}
.escrito2{
    position: relative;
    overflow: hidden;
    justify-self: start;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.escrito2 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.escrito3{
    position: relative;
    overflow: hidden;
    justify-self: end;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.escrito3 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.escrito4{
    position: relative;
    overflow: hidden;
    justify-self: start;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.escrito4 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.mis-trabajos-podcasts{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}
.caja2{
    width: auto;
}
.podcast1{
    position: relative;
    overflow: hidden;
    justify-self: end;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.podcast1 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.podcast2{
    position: relative;
    overflow: hidden;
    justify-self: start;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.podcast2 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.podcast3{
    position: relative;
    overflow: hidden;
    justify-self: end;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.podcast3 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.podcast4{
    position: relative;
    overflow: hidden;
    justify-self: start;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.podcast4 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.podcast5{
    position: relative;
    overflow: hidden;
    justify-self: end;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.podcast5 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.podcast6{
    position: relative;
    overflow: hidden;
    justify-self: start;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer;
}
.podcast6 img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}
.mis-trabajos-multimedia{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 30px;
}
.caja3{
    width: auto;
}
.multimedia{
    position: relative;
    overflow: hidden;
    justify-self: center;
    background-color: #1c1c1b;
    border: #1c1c1b solid 3px;
    border-radius: 65px;
    cursor: pointer
}
.multimedia img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    transition: all 500ms ease-out;
}

.contacto-container {
    display: flex;
    margin-top: 100px;
    
}
.contacto-container img {
    padding: 0 45px;
}
.contacto-info {
    height: 1033px;
    padding: 0 96px;
}
.contacto-titulos h3 {
    color: #2D2D2D;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}
.contacto-titulos p {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-top: 35px;
    margin-bottom: 90px;
}
input {
    width: 320px;
    height: 70px;
    margin-bottom: 18px;
    padding: 12px 20px;
    background-color: #F3F3F3;
    color: #000000;
    border: none;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
input::placeholder {
    color: #2D2D2D;
}
textarea::placeholder {
    color: #2D2D2D;
}
textarea {
    width: 320px;
    height: 215px;
    padding: 12px 20px;
    background-color: #F3F3F3;
    color: #2D2D2D;
    margin-bottom: 44px;
    resize: none;
    border: none;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
input[type=submit] {
    color: white;
    background-color: #000000;
    width: 235px;
    height: 80px;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}
.pie-de-pagina{
    width: 75%;
    height: 260px;
    display: flex;
    background-color: #f9d1d1d6;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #aeaeae;
    margin-bottom: 20px;
    flex-direction: column;
}
.pie-1{
    display: flex;
    width: 95%;
    height: 33%;
    justify-content: center;
    align-items: flex-end;
}
.pie-1 h3 {
    display: flex;
    width: 90%;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
}
.pie-2{
    display: flex;
    width: 52%;
    height: 33%;
    justify-content: center;
    align-items: center;
}
.pie-2 p{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;

}
.footer-icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footer-icon-container img {
    padding: 10px;
}

/*MEDIA QUERIES*/

@media (min-width: 1024px) and (max-width: 1439px){
    nav ul li a{
        font-size: 12px;
    }
    .inicio{
        height: 90vh;
    }
    .inicio-contenedor{
        height: 100%;
    }
    .presentacion1{
        font-size: 22px;
    }
    .presentacion2{
        font-size: 37px;
    }
    .presentacion3{
        font-size: 14px;
    }
    #sobre_mi {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sobre-mi-1{
        width: 80%;
    }
    .sobre-mi-2{
        width: 80%;
        display: flex;

    }
    .sobre_mi {
        display: flex;
        margin-top: 50px;
        padding-left: 0%;
        flex-direction: column;
        align-items: center;
    }
    .sobre_mi p {
        font-size: 16px;
        margin-right: 0%;
    }
    h2 {
        font-size: 37px;
    }
    .habilidades {
        margin-top: 80px;
    }
    .habilidades li {
        font-size: 16px;
    }
    .mis-servicios{
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 250px 250px 250px;
        row-gap: 60px;
        column-gap: 10px;
    }
    .caja-serv{
        width: auto;
    }
    .caja-servicios-1 img{
        width: 50px;
        height: 50px;
    }
    .caja-servicios-2 img{
        width: 50px;
        height: 50px;
    }
    .caja-servicios-3 img{
        width: 50px;
        height: 50px;
    }
    .caja-servicios-4 img{
        width: 23px;
        height: 37px;
    }
    .caja-servicios-5 img{
        width: 34.19px;
        height: 26.91px;
    }
    .caja-servicios-6 img{
        width: 44.67px;
        height: 26.2px;
    }
    .container-rosa {
        width: 100%;
    }
    .subtitulo {
        font-size: 17px;
    }
    h3 {
        font-size: 22px;
    }
    .capa{
        opacity: 1;
    }
    .capa h2{
        font-size: 27px;
    }
    .pie-de-pagina{
         height: 240px;
    }
    .pie-1{
         width: 95%;
    }
    .pie-1 h3 {
         width: 90%;
         font-size: 40px;
    }
    .pie-2{
         width: 56%;
    }
    .pie-2 p{
         font-size: 18px;    
    }
    .contacto-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #f9d1d1;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 12px;
    }
    
    .inicio{
        height: 80vh;
    }
    .inicio-contenedor{
        height: 100%;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
    .presentacion1{
        font-size: 18px;
    }
    .presentacion2{
        font-size: 32px;
    }
    .presentacion3{
        font-size: 13px;
    }
    #sobre_mi {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sobre-mi-1{
        width: 80%;
    }
    .sobre-mi-2{
        width: 80%;
        display: flex;

    }
    .sobre_mi {
        display: flex;
        margin-top: 50px;
        padding-left: 0%;
        flex-direction: column;
        align-items: center;
    }
    .sobre_mi p {
        font-size: 12px;
        margin-right: 0%;
    }
    h2 {
        font-size: 30px;
    }
    .habilidades {
        margin-top: 60px;
    }
    .habilidades li {
        font-size: 12px;
    }
    .mis-servicios{
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 250px 250px 250px;
        row-gap: 60px;
        column-gap: 10px;
    }
    .caja-serv{
        width: auto;
    }
    .caja-servicios-1 img{
        width: 50px;
        height: 50px;
    }
    .caja-servicios-2 img{
        width: 50px;
        height: 50px;
    }
    .caja-servicios-3 img{
        width: 50px;
        height: 50px;
    }
    .caja-servicios-4 img{
        width: 23px;
        height: 37px;
    }
    .caja-servicios-5 img{
        width: 34.19px;
        height: 26.91px;
    }
    .caja-servicios-6 img{
        width: 44.67px;
        height: 26.2px;
    }
    .subtitulo {
        font-size: 12px;
    }
    h3 {
        font-size: 16px;
    }
    .capa{
        opacity: 1;
    }
    .capa h2{
        font-size: 18px;
    }
    .pie-de-pagina{
         height: 230px;
    }
    .pie-1{
         width: 95%;
    }
    .pie-1 h3 {
         width: 90%;
         font-size: 30px;
    }
    .pie-2{
         width: 54%;
    }
    .pie-2 p{
         font-size: 13px;    
    }
    .contacto-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .contacto-container img {
        width: 100%;
    }
    .container-rosa {
        width: 100%;
    }
    .titulo-trabajos-container p{
        font-size: 20px;
    }
    .titulo-trabajos-container a{
        font-size: 15px;
    }
    .titulo-trabajos-container img{
        width: 15px;
    }
    .img-trabajos {
        top: 50px;
        width: 400px;
    }
    .contact-info {
        height: 900px;
        margin-top: 20px;
    }
    input, textarea {
        width: 100%;
    }
}
@media (min-width: 540px) and (max-width: 768px){
    .checkbtn{
        display: block;
    }
     nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f9d1d1;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .inicio{
        height: 65vh;
    }
    .inicio-contenedor{
        height: 100%;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
    .presentacion1{
        font-size: 17px;
    }
    .presentacion2{
        font-size: 27px;
    }
    .presentacion3{
        font-size: 11px;
    }
    #sobre_mi {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sobre-mi-1{
        width: 80%;
    }
    .sobre-mi-2{
        width: 80%;
        display: flex;

    }
    .sobre_mi {
        display: flex;
        margin-top: 40px;
        padding-left: 0%;
        flex-direction: column;
        align-items: center;
    }
    .sobre_mi p {
        font-size: 12px;
        margin-right: 0%;
    }
    h2 {
        font-size: 27px;
    }
    .habilidades {
        margin-top: 40px;
        width: 50%;
    }
    .habilidades li {
        font-size: 13px;
    }
    .mis-servicios{
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 170px 170px 170px;
        row-gap: 60px;
        column-gap: 10px;
    }
    .caja-serv{
        width: auto;
    }
    .caja-servicios-1 img{
        width: 30px;
        height: 30px;
    }
    .caja-servicios-1 p{
        font-size: 8px;
    }
    .caja-servicios-2 img{
        width: 30px;
        height: 30px;
    }
    .caja-servicios-2 p{
        font-size: 8px;
    }
    .caja-servicios-3 img{
        width: 30px;
        height: 30px;
    }
    .caja-servicios-3 p{
        font-size: 8px;
    }
    .caja-servicios-4 img{
        width: 13px;
        height: 27px;
    }
    .caja-servicios-4 p{
        font-size: 8px;
    }
    .caja-servicios-5 img{
        width: 24.19px;
        height: 16.91px;
    }
    .caja-servicios-5 p{
        font-size: 11px;
    }
    .caja-servicios-6 img{
        width: 24.67px;
        height: 16.2px;
    }
    .caja-servicios-6 p{
        font-size: 8px;
    }
    .subtitulo {
        font-size: 12px;
    }
    h3 {
        font-size: 15px;
    }
    .capa{
        opacity: 1;
    }
    .capa h2{
        font-size: 17px;
    }
    .pie-de-pagina{
         height: 220px;
         margin-bottom: 15px;
    }
    .pie-1{
         width: 95%;
    }
    .pie-1 h3 {
         width: 90%;
         font-size: 26px;
    }
    .pie-2{
         width: 90%;
    }
    .pie-2 p{
         font-size: 14px;    
    }
    .footer-icon-container img {
         padding: 10px;
    }
    .contacto-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .contacto-container img {
        width: 100%;
    }
    .container-rosa {
        width: auto;
    }
    .titulo-trabajos-container p{
        font-size: 17px;
    }
    .titulo-trabajos-container a{
        font-size: 15px;
    }
    .titulo-trabajos-container img{
        width: 13px;
    }
    .img-trabajos {
        top: 50px;
        width: 400px;
    }
    .contact-info {
        height: 700px;
        margin-top: 20px;
    }
    input, textarea {
        width: 100%;
    }
}
@media (min-width: 300px) and (max-width: 540px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f9d1d1;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 11px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
    .inicio{
        height: 55vh;
    }
    .inicio-contenedor{
        height: 100%;
    }
    .presentacion1{
        font-size: 11px;
    }
    .presentacion2{
        font-size: 22px;
    }
    .presentacion3{
        font-size: 8px;
    }
    #sobre_mi {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sobre-mi-1{
        width: 100%;
    }
    .sobre-mi-2{
        width: 80%;
        display: flex;
        
    }
    .sobre_mi {
        display: flex;
        margin-top: 20px;
        padding-left: 0%;
        flex-direction: column;
        align-items: center;
    }
    .sobre_mi p {
        font-size: 10px;
        margin-right: 0%;
    }
    h2 {
        font-size: 21px;
    }
    .habilidades {
        width: 50%;
        margin-top: 30px;
    }
    .habilidades li {
        font-size: 11px;
    }
    .mis-servicios{
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 90px 90px 90px;
        row-gap: 60px;
        column-gap: 10px;
    }
    .caja-serv{
        width: auto;
    }
    .caja-servicios-1 img{
        width: 15px;
        height: 15px;
    }
    .caja-servicios-1 p{
        font-size: 8px;
    }
    .caja-servicios-2 img{
        width: 15px;
        height: 15px;
    }
    .caja-servicios-2 p{
        font-size: 8px;
    }
    .caja-servicios-3 img{
        width: 15px;
        height: 15px;
    }
    .caja-servicios-3 p{
        font-size: 8px;
    }
    .caja-servicios-4 img{
        width: 7px;
        height: 13px;
    }
    .caja-servicios-4 p{
        font-size: 8px;
    }
    .caja-servicios-5 img{
        width: 12.9px;
        height: 8.96px;
    }
    .caja-servicios-5 p{
        font-size: 8px;
    }
    .caja-servicios-6 img{
        width: 12.34px;
        height: 8.1px;
    }
    .caja-servicios-6 p{
        font-size: 8px;
    }
    .subtitulo {
        font-size:11px;
    }
    h3 {
        font-size: 14px;
    }
    .capa{
        opacity: 1;
    }
    .capa h2{
        font-size: 15px;
    }
    .pie-de-pagina{
         height: 200px;
         margin-bottom: 12px;
    }
    .pie-1{
         width: 95%;
    }
    .pie-1 h3 {
         width: 90%;
         font-size: 20px;
    }
    .pie-2{
         width: 90%;
    }
    .pie-2 p{
         font-size: 10px;    
    }
    .footer-icon-container img {
         padding: 10px;
    } 
    .contacto-container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .contacto-container img {
        width: 100%;
    }
    .container-rosa {
        width: 100%;
    }
    .titulo-trabajos-container p{
        font-size: 19px;
    }
    .titulo-trabajos-container a{
        font-size: 15px;
    }
    .titulo-trabajos-container img{
        width: 13px;
    }
    .img-trabajos {
        top: 50px;
        width: 300px;
    }
    .contact-info {
        height: 500px;
        margin-top: 20px;
    }
    input, textarea {
        width: 100%;
    }
}      